<div class="container">
  <h2 class="text-center"><%= @menu.name %> -- <%= @menu.date %> : Sélectionnez les clients</h2>
  <%= simple_form_for @menu, url: "change", method: :patch do |m| %>
    <%= m.association :clients, as: :check_boxes %>
    <%= m.button :submit, class: "btn btn-dark d-block w-75 mx-auto" %>
  <% end %>
</div>
